.pagination {
  display: flex;
}

.pagination__btn {
  display: none;
  margin-right: 15px;

  &.is-visible {
    display: block;
  }
  &.is-disabled {
    opacity: .5;
  }
  &:last-child {
    margin-right: 0;
  }
}
